/**
 * =============================================================================
 * Fonts
 * =============================================================================
 */

$font-alpha: 'Roboto', sans-serif;
$font-beta: 'Crimson Text', serif;

$font-weight-alpha: 400;
$font-weight-beta: 300;
$font-weight-gamma: 600;

/**
 * Base font size (em base).
 * As the name says, this value serves as base font size for every
 * relative sizing needs.
 * -----------------------------------------------------------------------------
 */

$em-base: 12;

$grid-columns: 12;

/**
 * =============================================================================
 * Responsive
 * =============================================================================
 */

$bp-radix: 0;
// $bp-alpha-s: 480;
$bp-alpha: 600;
$bp-beta-s: 800;
$bp-beta: 1024;
$bp-gamma-s: 1200;
$bp-gamma: 1280;

/**
 * =============================================================================
 * Colors
 * =============================================================================
 */

$color-text: #222;

$color-white: #fff;
$color-black: #000;
$color-gray: #e5e5e5;

$color-facebook: #3b5999;
$color-google-plus: #de4b39;

/**
 * =============================================================================
 * Dimensions
 * =============================================================================
 */


/**
 * Spacing
 * -----------------------------------------------------------------------------
 */

$spacing-size-alpha: 5;
$spacing-size-beta: 10;
$spacing-size-gamma: 15;
$spacing-size-delta: 20;

/**
 * Borders
 * -----------------------------------------------------------------------------
 */

$border-radius-alpha: 6px;

